<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG" monitorInterval="30">
    <Appenders>
        <Console name="LogToConsole" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" />
        </Console>
        <File name="LogToFile" fileName="logs/app.log">
            <PatternLayout>
                <Pattern>%d %p %c{l.} [%t] %m%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>
    <Loggers>
        <Logger name="com.springbatch.basic.project.refactor" level="info" additivity="false">
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Logger>
        <Logger name="org.springframework.boot" level="info" additivity="false">
            <AppenderRef ref="LogToConsole" />
        </Logger>
        <Root level="info">
            <AppenderRef ref="LogToFile" />
            <AppenderRef ref="LogToConsole" />
        </Root>
    </Loggers>
</Configuration>